/* *{
  margin: 0;
  padding: 0;
} */

* {
  font-family: quicksand-regular;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #f5c32c;
  --secondary: #fca61f;
  --testiary: #f0f0f0;
  --last: #ef5757;
}

@font-face {
  font-family: baloo;
  src: url("../../../public/fonts/Baloo-Regular.ttf");
}

@font-face {
  font-family: quicksand-bold;
  src: url("../../../public/fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: quicksand-light;
  src: url("../../../public/fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: quicksand-medium;
  src: url("../../../public/fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: quicksand-regular;
  src: url("../../../public/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: quicksand-semi-bold;
  src: url("../../../public/fonts/Quicksand-SemiBold.ttf");
}

.header {
  height: 60px;
  position: fixed;
  background-color: var(--testiary);
  width: 100%;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.right-items {
  display: flex;
  align-items: center;
}

.right-items img {
  margin-left: 10px;
}

.container {
  margin-top: 40px;
  /* display: flex; */
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}

.header ul {
  display: flex;
  justify-content: space-around;
}

.header li {
  list-style-type: none;
}

.loading-session {
  justify-content: center;
}

.groups {
  display: flex;
  align-items: center;
  padding: 5px;
}

.group-all-info {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.group-all-info div {
  margin-right: 20px;
}

.all-chats {
  /* margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 40px; */
  margin: 50px 20px 40px 0px;
}

.groups img {
  margin-right: 5px;
}

.groups:hover {
  background-color: var(--last);
  color: var(--testiary);
  border-radius: 10px;
}

.groups.active {
  background-color: var(--last);
  color: var(--testiary);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #00000039;
}

.group-profile {
  display: flex;
  align-items: center;
  padding: 5px;
}

.profile-image {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.sider {
  padding: 10px;
  position: fixed;
  left: 1px;
  background-color: var(--testiary);
  height: 100%;
  overflow: auto;
  z-index: 1;
}

.sider-closed {
  display: none;
  transition: opacity 0.5s, visibility 0.5s;
}

.no-chat {
  display: flex;
  text-align: center;
  background-color: #28a745;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.dropzone {
  border: 2px dashed #fcb40a;
  border-radius: 10px;
  background: white;
  padding: 20px;
  position: relative;
  text-align: center;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.dropzone.drag-active {
  border-color: #28a745;
  background-color: #e9ffe5;
}

.dz-message {
  font-size: 1.5em;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.dz-preview {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  max-width: 200px; /* Ajustez selon vos besoins */
}

.dz-preview img {
  width: 100%;
  height: auto;
}

.dz-preview {
  position: relative;
}

.dz-preview button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
}

.dz-preview button:hover {
  background-color: darkred;
}

.send-chat-session {
  display: flex;
  align-items: end;
}

.send-chat-input {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  justify-content: space-around;
  background-color: var(--testiary);
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}

.file {
  padding: 5px;
  background-color: var(--testiary);
  border-radius: 50%;
  box-shadow: 3px 3px 3px 3px #00000039;
}

.download-btn {
  height: 20px;
}

.chat-image {
  height: 120px;
  max-width: 150px;
  border-radius: 15px;
  object-fit: cover;
}

.chat-file {
  height: 60px;
  display: flex;
  align-items: center;
}


.chatter-name, .chatter-date{
  font-size: 10px;
}

.chat-form {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  gap: 15px;
  /* justify-content: space-around; */
  /* background-color: #28a745; */
  width: 100%;
  align-items: end;
}

.chatInput {
  border-radius: 50px;
  height: 30px;
  width: 100%;
}

.send-btn {
  border-radius: 50%;
  padding: 6px;
  border: none;
  margin-bottom: 4px;
  box-shadow: 3px 3px 3px 3px #00000039;
  cursor: pointer;
}

.send-btn-img {
  height: 20px;
}

.one-chat {
  display: flex;
  align-items: end;
}

.sender-chat-all-items {
  text-align: right;
}

.sender-chat {
  text-align: right;
  justify-content: right;
  display: flex;
  /* float: right; */
}

.you {
  display: block;
}

.chat-item {
  padding: 10px;
  margin: 5px;
  border-radius: 20px 20px 20px 0;
  /* align-items: center; */
}

.receiver-chat-item {
  background-color: var(--testiary);
}

.sender-chat-item {
  background-color: var(--last);
  color: var(--testiary);
  border-radius: 15px 0px 15px 15px;
}

@media screen and (max-width: 700px) {
  .send-chat-input {
    display: grid;
    grid-template-columns: 1fr;
  }
  .send-chat-session {
    padding-left: 30px;
  }
}
